@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&display=swap');

:root{

    --primary-color: #001F54;
    --secondary-color: #034078;
    --star-color: #FFBF47;
    --gray-color:#ABADB1;
    --black-color :#000000;
    --white-color: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}

header{
    background: var(--white-color);
}

.container{
    max-width: 100%;
}

.small-container{
    max-width: 1200px; 
    margin: auto;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.col-8{
    flex-basis: 66.6%;
}

.col-6{
    flex-basis: 50%;
}

.col-5{
    flex-basis: 40%;
    min-width: 400px;
    padding: 50px;
}

.col-4{
    flex-basis: 33.3%;
    min-width: 350px;
}

.col-3{
    flex-basis: 25%;
    min-width: 300px;
}

.btn{
    width: 173px;
    padding: 15px 40px;
    background-color: var(--primary-color);
    border-radius: 12px;
    border: none;
}

.btn a{
    text-decoration: none;
    color: var(--white-color);
    font-weight: 500;
}

/* navigation */
.logo{
    color: var(--primary-color);
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 800;
}

nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 22px 0;
}

.right-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu{
    margin-left: 50px;
}

ul{
    display: flex;
    list-style: none;
    text-decoration: none;
}

ul li{
    margin-right: 30px;
}

ul li a{
   text-decoration: none;
   color: var(--gray-color);
 
}

ul li a:hover{
    color: var(--black-color);
}

ul li a.active{
    color: var(--black-color);
}

.search-bar input{
    height: 48px;
    width: 400px;
    border-radius: 12px;
    border: 1px solid var(--gray-color);
    padding: 0 25px;
}
.search-bar{
    position: relative;
}

.icon-search{
    position: absolute;
    right: 100px;
    top: 12px;
}

.search-bar input::placeholder{
    font-size: 16px;
}


.search-bar button{
    margin-left: 25px;
    font-size: 16px;
    background: var(--white-color);
    border: none;
}

.search-bar button a{
    text-decoration: none;
    color: var(--primary-color);

}

.title{
    font-weight: 600;
}

.text-center{
    text-align: center;
}

.description{
    color: var(--gray-color);
    margin-top: 10px;
    margin-bottom: 50px;
}

/* header */

.header {
    padding-top: 80px;
    padding-bottom: 80px;
}

.header h1{
    font-size: 40px;
    font-weight: 600;
}


/* services */

.services{
    padding-top: 30px;
    background: #F8F8FD;
}

.row-services{
    margin-top: 50px;
}

.card{
    border-radius: 12px;
    padding: 20px 20px 30px 20px;
    margin: 0 5px 50px 5px;
    background: var(--white-color);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.card-header img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.title-card-header h4{
    font-weight: 600;
}
.title-card-header p{
    font-size: 11px;
    color: var(--gray-color);
}

.card-body img{
    border-radius: 12px;
    width: 250px;
    height: 150px;
}

.card-footer{
    margin-top: 10px;
}

.card-footer h4{
    font-weight: 500;
    font-size: 15px;
}

.icon-star{
    margin: 2px 0;
}

.icon-star i{
    color: #FFBF47;
}

.icon-star span{
    color: var(--gray-color);
}

.price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

.price p{
    color: var(--gray-color);
}

.price span{
    font-weight: 600;
    color: var(--primary-color);
}

/* productivity */

.productivity{
    padding-top: 80px;
    padding-bottom: 80px;;
}


.productivity img{
    border-radius: 12px;
}

/* footer */

footer{
    background-color: #034078;
    padding-top: 80px;
}

footer li{
    list-style: none;
    padding: 10px 0;
}
footer li a{
    text-decoration: none; 
    color: var(--gray-color);
}

footer h4{
    font-weight: 500;
    color: var(--white-color);
}

footer p{
    color: var(--gray-color);
}

footer input{
    width: 100%;
    border-radius: 12px;
    height: 48px;
    padding: 0 25px;
    margin: 15px 0;
    border: none;
}

footer button{
    width: 100%;
    border-radius: 12px;
    height: 48px;
    border: none;
    background: var(--primary-color);
}

footer button a{
    color: var(--white-color);
    text-decoration: none;
}

.row-footer{
    display: flex;
    align-items: flex-start;
    padding-bottom: 50px;
}

.row-footer input{
    background-color: var(--primary-color);
    opacity: 49%;
}


hr{
    background: var(--gray-color);
}

.footer-bottom{
    padding: 25px 0;
    justify-content: space-between;
}

.footer-bottom .logo{
    color: var(--white-color);
}

.footer-bottom .setting{
    display: flex;
    justify-content: center;
    
}

.setting li{
    margin-right: 15px;
}

.copyright{
    color: var(--gray-color);
    display: flex;
    justify-content: end;
}



/* services */

.row-services{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-around;
}

.list-services{
    padding: 5px 32px;
    background-color:#F0F0FC;
    border-radius: 24px;
    font-size: 12px;
    cursor: pointer;
}

.list-services.active{
    padding: 5px 32px;
    background-color: var(--primary-color);
    border-radius: 24px;
    color: var(--white-color);
    font-size: 12px;
}

.itemBox.hide{
    display: none;
}


/* register */

.col{
    background-color: var(--white-color);
    min-width: 450px;
    height: 748px;
    border-radius: 12px;
}
.col img{
    display: flex;
}

.register,
.login{
    background-color: #034078;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;

}

.row-register{
    background-color: #fff;
    margin: auto;
    border-radius: 12px;
    box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.5);
}

form{
    display: flex;
    flex-direction: column;
    padding: 50px 35px 35px 35px;
}

form h2{
    font-weight: 500;
}

form p{
    color: var(--gray-color);
    font-size: 14px;
}

form input{
    height: 55px;
    border-radius: 12px;
    padding: 0 30px;
    border: .5px solid var(--gray-color);
}

form label{
    margin: 10px 0 5px 0;

}

.terms{
    display: flex;
    align-items: center;
}

.terms p{
    margin-left: 10px;
}

form button{
    background: var(--primary-color);
    margin-bottom: 30px;
    border-radius: 12px;
    height: 55px;
    border: none;
}

form button a{
    text-decoration: none;
     color: var(--white-color);
    
}


/* Login */

.forgot{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-account{
    display: flex;
    justify-content: center;
    align-items: center;
    border: .5px solid var(--gray-color);
    height: 55px;
    border-radius: 12px;
    column-gap: 10px;
    cursor: pointer;
    margin-top: 15px;
}



/* detail-page */

.detail-page{
    padding-top: 50px;
}

.detail-page .row{
    align-items: flex-start;
}
.row-detail-page{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    justify-content: start;
    margin: 30px 0;
}

.title-detail-page h5{
    color: var(--gray-color);
    font-weight: 500;
}

.title-detail-page h5 span{
    color: var(--black-color);
    font-weight: 500;
}

.title-detail-page h3{
    font-weight: 500;
    margin-top: 10px;
}

.title-detail-page .icon-star{
    margin-bottom: 20px;
}

.list-content{
    padding: 5px 32px;
    background-color:#F0F0FC;
    border-radius: 24px;
    font-size: 12px;
    cursor: pointer;
}

.list-content.active{
    padding: 5px 32px;
    background-color: var(--primary-color);
    border-radius: 24px;
    color: var(--white-color);
    font-size: 12px;
}

.itemContent.hide{
    display: none;
}


.itemContent {
    margin-bottom: 30px;
}

.itemContent h3{
    font-weight: 600;
}

.itemContent p{
    font-size: 14px;
}


.itemContent .about {
    background-color: red;
    display: flex;
    width: 100%;
    justify-content: space-between;
}