@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&display=swap');

:root{

    --primary-color: #001F54;
    --secondary-color: #034078;
    --star-color: #FFBF47;
    --gray-color:#ABADB1;
    --black-color :#000000;
    --white-color: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}

header{
    background: var(--white-color);
}

.container{
    max-width: 100%;
}

.small-container{
    max-width: 1200px; 
    margin: auto;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-6{
    flex-basis: 50%;
}

.col-3{
    flex-basis: 25%;
}

.btn{
    width: 173px;
    padding: 15px 40px;
    background-color: var(--primary-color);
    border-radius: 12px;
    border: none;
}

.btn a{
    text-decoration: none;
    color: var(--white-color);
    font-weight: 500;
}

/* navigation */
.logo{
    color: var(--primary-color);
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 800;
}

nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 22px 0;
}

.right-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu{
    margin-left: 50px;
}

ul{
    display: flex;
    list-style: none;
    text-decoration: none;
}

ul li{
    margin-right: 30px;
}

ul li a{
   text-decoration: none;
   color: var(--gray-color);
 
}

ul li a:hover{
    color: var(--black-color);
}

ul li a.active{
    color: var(--black-color);
}

.search-bar input[type="search"]{
    height: 48px;
    width: 400px;
    border-radius: 12px;
    border: 1px solid var(--gray-color);
    padding: 0 25px;
}
.search-bar{
    position: relative;
}

.icon-search{
    position: absolute;
    right: 100px;
    top: 12px;
}

.search-bar input::placeholder{
    font-size: 16px;
}


.search-bar button{
    margin-left: 25px;
    font-size: 16px;
    background: var(--white-color);
    border: none;
}

.search-bar button a{
    text-decoration: none;
    color: var(--primary-color);

}


/* header */

.header {
    padding-top: 100px;
}

.header h1{
    font-size: 40px;
    font-weight: 600;
}

.header p{
    color: var(--gray-color);
    margin-top: 10px;
    margin-bottom: 50px;
}